# Variables Generals for all resources
ssh_user    = "centos"
public_key  = "~/.ssh/id_rsa_deploying.pub"
private_key = "~/.ssh/id_rsa_deploying"
# Variables for the VmWare Workstation provider
list_of_vms = {
  "test-vm1" = {
    sourceid    = ""
    description = "The new VM"
    path        = "C:\\VirtualMachines"
    processors  = "2"
    memory      = "1024"
    state       = "on"
  },
}