# Variables Generals for all resources
ssh_user    = ""
public_key  = ""
private_key = ""
# Variables for the DigitalOcean provider
do_name_droplet  = ""
do_image_droplet = ""
do_tags_droplet  = ["", ""]
# Variables for the OVH provider
ovh_zone      = ""
ovh_subdomain = ""

