# Rename to terraform.tfvars and complete the vars
# Variables for the DigitalOcean provider
do_spaces_access_id    = ""
do_spaces_secret_key   = ""
do_api_endpoint        = ""
do_token               = ""
do_name_droplet        = ""
do_image_droplet       = ""
do_tags_droplet        = ["", ""]
do_public_key          = ""
do_private_key         = ""
# Variables for the OVH providers
ovh_application_key    = ""
ovh_application_secret = ""
ovh_consumer_key       = ""
ovh_zone               = ""
ovh_subdomain          = ""
