<?php
$AUTOCONFIG = array(
  'dbtype'        => 'mysql',
  'dbname'        => '{{ mysql_db_name }}',
  'dbuser'        => '{{ mysql_db_user }}',
  'dbpass'        => '{{ mysql_db_pass }}',
  'dbhost'        => '{{ mysql_db_host }}',
  'dbtableprefix' => 'nc_',
  'adminlogin'    => '{{ name_user }}',
  'adminpass'     => '{{ user_password }}',
  'directory'     => '/data',
);